# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\MyTimeLine\Last\FPOLY_CLASS\TUTOR_SOF304_BL2_SP24_NganCT4_PH40458\source-code\demo-code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
